<?xml version="1.0" encoding="utf-8" ?>
<!-- 这是hProxyN作为代理服务器使用，使用InboundGateway的样例配置文件 -->
<configuration>
  <configSections>
    <sectionGroup name="hProxyN" type="yoursunny.P2008.hProxyN.hProxyNConfigurationSectionGroup,hProxyN">
      <section name="Listener" type="yoursunny.P2008.hProxyN.ListenerConfigurationSection,hProxyN"/>
      <section name="Logging" type="yoursunny.P2008.hProxyN.LoggingConfigurationSection,hProxyN"/>
      <section name="Plugins" type="yoursunny.P2008.hProxyN.PluginsConfigurationSection,hProxyN"/>
      <sectionGroup name="PluginConfiguration" type="yoursunny.P2008.hProxyN.PluginConfigurationSectionGroup,hProxyN">
        <section name="HttpProxy" type="yoursunny.P2008.hProxyN.HttpProxyConfigurationSection,HttpProxy"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <hProxyN>
    <Listener mode="console">
      <EndPoints>
        <listen IP="any" port="3128"/>
      </EndPoints>
    </Listener>
    <Logging enabled="true">
      <Output path="STDOUT" utc="false"/>
      <Format type="yoursunny.P2008.hProxyN.IISW3CLogFormat" encoding="utf-8"/>
      <Fields>
        <field name="time"/>
        <field name="c-ip"/>
        <field name="cs-method"/>
        <field name="cs-host"/>
        <field name="s-ip"/>
        <field name="cs-uri-stem"/>
        <field name="cs-uri-query"/>
        <field name="sc-status"/>
        <field name="time-taken"/>
      </Fields>
    </Logging>
    <Plugins>
      <PluginCollection>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxy,HttpProxy"/>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxyWWWAuthenticate,HttpProxyWWWAuthenticate"/>
      </PluginCollection>
    </Plugins>
    <PluginConfiguration>
      <HttpProxy Timeout="15000" addXForwardedFor="true" Decompress="false" DenyLocal="false">
        <EndPoints>
          <listen IP="any" port="3128"/>
        </EndPoints>
        <!-- InboundGateway标签指定了外发请求的代理服务器选择方法，
        也可以通过InboundGateway标签将请求转发到特定IP地址的源站服务器
        -->
        <InboundGateway type="yoursunny.P2008.hProxyN.DnsGateway,InboundGateways">
        <!-- yoursunny.P2008.hProxyN.DnsGateway通过指定的DNS服务器解析源站的IP地址 -->
          <param>
            <add key="dns" value="202.96.102.3"/>
            <!-- 指定一台DNS服务器 -->
          </param>
        </InboundGateway>
        <!-- 其他InboundGateway配置
        转发到固定的代理服务器
        <InboundGateway type="yoursunny.P2008.hProxyN.FixedGateway,HttpProxy">
          <param>
            <add key="host" value="202.120.2.30"/>
            <add key="port" value="8000"/>
            <add key="username" value="代理帐号"/>
            <add key="password" value="代理密码"/>
          </param>
        </InboundGateway>
        随时更换解析到的IP
        <InboundGateway type="yoursunny.P2008.hProxyN.EditableGateway,InboundGateways"/>
          指定此项后，随时访问形如
            http://any.host/_hProxyN_/233C731D-1EA5-4c1b-9FD9-4D70F8DF82C6/update.cgi?h=hello.world&a=202.120.58.161
          的链接，修改某个域名对应的IP地址
        还可以通过PowerShell脚本实现代理/解析选择，请看参考文档
        -->
      </HttpProxy>
    </PluginConfiguration>
  </hProxyN>
</configuration>