<?xml version="1.0" encoding="utf-8" ?>
<!-- 这是hProxyN作为代理服务器使用，开启身份认证的样例配置文件 -->
<configuration>
  <configSections>
    <sectionGroup name="hProxyN" type="yoursunny.P2008.hProxyN.hProxyNConfigurationSectionGroup,hProxyN">
      <section name="Listener" type="yoursunny.P2008.hProxyN.ListenerConfigurationSection,hProxyN"/>
      <section name="Logging" type="yoursunny.P2008.hProxyN.LoggingConfigurationSection,hProxyN"/>
      <section name="Plugins" type="yoursunny.P2008.hProxyN.PluginsConfigurationSection,hProxyN"/>
      <sectionGroup name="PluginConfiguration" type="yoursunny.P2008.hProxyN.PluginConfigurationSectionGroup,hProxyN">
        <section name="HttpProxy" type="yoursunny.P2008.hProxyN.HttpProxyConfigurationSection,HttpProxy"/>
        <section name="HttpProxyAuthentication" type="yoursunny.P2008.hProxyN.HttpProxyAuthenticationConfigurationSection,HttpProxyAuthentication"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <hProxyN>
    <Listener mode="console">
      <EndPoints>
        <listen IP="any" port="3128"/>
      </EndPoints>
    </Listener>
    <Logging enabled="true">
      <Output path="STDOUT" utc="false"/>
      <Format type="yoursunny.P2008.hProxyN.IISW3CLogFormat" encoding="utf-8"/>
      <Fields>
        <field name="time"/>
        <field name="c-ip"/>
        <field name="cs-method"/>
        <field name="cs-host"/>
        <field name="cs-uri-stem"/>
        <field name="cs-uri-query"/>
        <field name="sc-status"/>
        <field name="time-taken"/>
      </Fields>
    </Logging>
    <Plugins>
      <PluginCollection>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxy,HttpProxy"/>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxyWWWAuthenticate,HttpProxyWWWAuthenticate"/>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxyAuthentication,HttpProxyAuthentication"/>
      </PluginCollection>
    </Plugins>
    <PluginConfiguration>
      <HttpProxy Timeout="15000" addXForwardedFor="true" Decompress="false" DenyLocal="false">
        <EndPoints>
          <listen IP="any" port="3128"/>
        </EndPoints>
      </HttpProxy>
      <HttpProxyAuthentication scheme="Digest" realm="hProxyN gateway" privatekey="ur6x8d9RHrnH4Fba">
      <!--
      hProxyN支持RFC2617定义的两种HTTP认证方式：Basic和Digest
      scheme="Basic"
        用户名和密码以明文BASE64形式在浏览器与hProxyN之间传送，安全性差
      scheme="Digest"
        用户名和密码以MD5散列形式在浏览器与hProxyN之间传送，安全性高
      realm="hProxyN gateway"
        HTTP“领域”，将显示在在浏览器的输入凭据窗口上
      privatekey="ur6x8d9RHrnH4Fba"
        当选择Digest认证方式时，用于产生nouce的一个私有字符串
      -->
        <validator type="yoursunny.P2008.hProxyN.SqlCeAuthenticationCredentialsValidator,HttpProxyAuthentication">
        <!-- validator元素定义用于检验身份认证信息是否正确的方式
        yoursunny.P2008.hProxyN.SqlCeAuthenticationCredentialsValidator
          将身份认证信息与SQL Server Compact数据库中的记录作比较
        -->
          <param>
          <!-- param元素内的配置信息将传递给validator类 -->
            <add name="datasource" value="SqlCeCredentials.sdf"/>
            <!-- datasource指定了数据库的路径(相对于配置文件所在目录) -->
          </param>
        <!-- 还有其他可用的validator
        <validator type="yoursunny.P2008.hProxyN.SJTUBBSAuthenticationCredentialsValidator,HttpProxyAuthentication">
          将身份认证信息与上海交通大学饮水思源BBS站的ID作比较
          此validator只支持Basic认证方式，而不支持Digest
          <param>
            <add name="IPv6" value="false"/>指定是否使用IPv6访问饮水思源
          </param>
        </validator>
        -->
        </validator>
        <manager enabled="true" type="yoursunny.P2008.hProxyN.SqlCeAuthenticationCredentialsManager,HttpProxyAuthentication" admin="sunny">
        <!-- manager元素创建身份认证信息的管理接口
        你可以通过 http://any.host/_hProxyN_/B36EB0E1-3A9F-438c-8E82-B69F8F11786B/ 这个网址访问管理接口
        enabled="true"
          开启管理接口；如果要关闭管理接口，请设置enabled="false"
        type="yoursunny.P2008.hProxyN.SqlCeAuthenticationCredentialsManager"
          管理SQL Server Compact数据库中的身份认证信息
        admin="sunny"
          只有管理员sunny这个用户才能访问管理接口
        -->
          <param>
          <!-- param元素内的配置信息将传递给manager类 -->
            <add name="datasource" value="SqlCeCredentials.sdf"/>
          </param>
        </manager>
      </HttpProxyAuthentication>
    </PluginConfiguration>
  </hProxyN>
</configuration>