<?xml version="1.0" encoding="utf-8" ?>
<!-- 这是hProxyN作为代理服务器使用，利用GAppProxy的fetchServer发出请求的样例配置文件 -->
<configuration>
  <configSections>
    <sectionGroup name="hProxyN" type="yoursunny.P2008.hProxyN.hProxyNConfigurationSectionGroup,hProxyN">
      <section name="Listener" type="yoursunny.P2008.hProxyN.ListenerConfigurationSection,hProxyN"/>
      <section name="Logging" type="yoursunny.P2008.hProxyN.LoggingConfigurationSection,hProxyN"/>
      <section name="Plugins" type="yoursunny.P2008.hProxyN.PluginsConfigurationSection,hProxyN"/>
      <sectionGroup name="PluginConfiguration" type="yoursunny.P2008.hProxyN.PluginConfigurationSectionGroup,hProxyN">
        <section name="HttpProxy" type="yoursunny.P2008.hProxyN.HttpProxyConfigurationSection,HttpProxy"/>
        <section name="GAppProxy" type="yoursunny.P2008.hProxyN.GAppProxyConfigurationSection,GAppProxy"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <hProxyN>
    <Listener mode="console">
      <EndPoints>
        <listen IP="any" port="3128"/>
      </EndPoints>
    </Listener>
    <Logging enabled="true">
      <Output path="STDOUT" utc="false"/>
      <Format type="yoursunny.P2008.hProxyN.IISW3CLogFormat" encoding="utf-8"/>
      <Fields>
        <field name="time"/>
        <field name="c-ip"/>
        <field name="cs-method"/>
        <field name="cs-host"/>
        <field name="s-ip"/>
        <field name="cs-uri-stem"/>
        <field name="cs-uri-query"/>
        <field name="sc-status"/>
        <field name="time-taken"/>
      </Fields>
    </Logging>
    <Plugins>
      <PluginCollection>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxy,HttpProxy"/>
        <plugin type="yoursunny.P2008.hProxyN.GAppProxy,GAppProxy"/>
      </PluginCollection>
    </Plugins>
    <PluginConfiguration>
      <HttpProxy Timeout="15000" addXForwardedFor="true" Decompress="false" DenyLocal="false">
        <EndPoints>
          <listen IP="any" port="3128"/>
        </EndPoints>
      </HttpProxy>
      <!-- GAppProxy指定了fetchServer的选择方法 -->
      <!-- 指定loadBalancer属性时，hProxyN启动时将从此网址获取一个可用的fetchServer地址 -->
      <GAppProxy loadBalancer="http://gappproxy-center.appspot.com/available_fetchserver.py"/>
      <!-- 指定fetchServer属性时，总是使用这个fetchServer
      <GAppProxy fetchServer="http://fetchserver2.appspot.com/fetch.py"/>
      -->
    </PluginConfiguration>
  </hProxyN>
</configuration>