/* ***** BEGIN LICENSE BLOCK *****
 * Version: NPL 1.1/GPL 2.0/LGPL 2.1
 *
 * The contents of this file are subject to the Netscape Public License
 * Version 1.1 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at
 * http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 *
 * The Original Code is CSS style sheet for Wireless Markup Language emulation
 *
 * Contributor(s):
 *      Raoul Nakhmanson-Kulish <manko@zhurnal.ru>
 *      Matthew Wilson <matthew@mjwilson.demon.co.uk>
 *
 * Alternatively, the contents of this file may be used under the terms of
 * either the GNU General Public License Version 2 or later (the "GPL"), or 
 * the GNU Lesser General Public License Version 2.1 or later (the "LGPL"),
 * in which case the provisions of the GPL or the LGPL are applicable instead
 * of those above. If you wish to allow use of your version of this file only
 * under the terms of either the GPL or the LGPL, and not to allow others to
 * use your version of this file under the terms of the NPL, indicate your
 * decision by deleting the provisions above and replace them with the notice
 * and other provisions required by the GPL or the LGPL. If you do not delete
 * the provisions above, a recipient may use your version of this file under
 * the terms of any one of the NPL, the GPL or the LGPL.
 *
 * ***** END LICENSE BLOCK ***** */

html,body {
    background-color:AppWorkspace;
}

div.critical {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 0.5em;
}

div.card {
    margin: 1%;
    float:left;
    clear:both;
    width:auto;
    background-color:Window;
    color:WindowText;
    border:2px inset ThreedHighlight;
    width: 98%;
}

div.innercard{
    margin: 0 0.5em 2pt 0.5em;
}

h1{
    font-size:1.5em;
    width:auto;
    background-color:ActiveCaption;
    color:CaptionText;
    margin:0;
    padding:0.3em 0.5em 0.3em 0.5em;
}

/* Not ready yet:

// Headers by default are inactive

// But they're active if they're the current link target 
div:target h1  { background-color: ActiveCaption; color: CaptionText; }

// Or if we've marked them as selected
div.selectedcard h1 { background-color: ActiveCaption; color: CaptionText; }

div.card { opacity: 0.3; }

div.selectedcard { opacity: 1; }
*/

div.do {
    width:auto;
    background-color:ThreedLightShadow;
    margin:0;
    text-align:center;
    padding:2px 0.5em 2px 0.5em;
}

button.dobutton{
    height:2.1em;
    padding:0px 0.2em 1px 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

span.sign{
    background-color:Window;
    color:WindowText;
    border:1px solid Highlight;
    -moz-border-radius:100%;
}

span.prev{
    padding-right:2px;
    color:HighlightText;
    background-color:Highlight;
}

span.help{
    color:Highlight;
    font-weight:bold;
    padding-left:0.2em;
    padding-right:0.4em;
}

span.accept{
    font-weight:bold;
    font-style:italic;
    color:rgb(0,153,0);
    padding-left:0;
    padding-right:0.5em;
}

span.reset{
    color:HighlightText;
    background-color:Highlight;
    padding-left:0.2em;
    padding-right:0.3em;
    
}

span.delete{
    color:rgb(255,255,255);
    background-color:rgb(255,0,0);
    border-color:rgb(255,0,0);
    padding-left:0.2em;
    padding-right:0.3em;
    
}

span.options{
    color:InfoText;
    background-color:InfoBackground;
    padding-left:0.3em;
    padding-right:0.3em;
}

span.refresh{
    color:HighlightText;
    background-color:Highlight;
    padding-left:0.2em;
    padding-right:0.2em;
}

p.nowrap {
    white-space:nowrap;
}

span.b {
    font-weight: bolder;
}

span.i {
    font-style: italic;
}
span.u {
    text-decoration: underline;
}

form {
    display: inline;
    margin:0;
}

*[accesskey]:before {
    content:attr(accesskey);
    background-color:Highlight;
    color:HighlightText;
    text-decoration:none;
    padding:0.1em 0.4em 0.1em 0.4em;
    -moz-border-radius:100%;
}

.warning {
    background-color: InfoBackground;
    color: InfoText;
    font-style: italic;
    padding: 0em 0.5em;
    margin: 0em -0.5em;
}
