<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--PageGenerator设置-->
    <add key="PageGenerator_SN" value="H.20070228.sunny|5a5e11285287ccd090ca454c3c3c7c57" />
    <add key="PageGenerator_ID" value="p" />
    <add key="PageGenerator_Path" value="~/p" />
    <add key="PageGenerator_HashVersion" value="20070226" />
    <add key="PageGenerator_HashKey" value="yoursunnyPageGeneratorDefaultHashKey" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="*" path="conf/*.axd" type="System.Web.HttpForbiddenHandler"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="65536" />
  </system.web>
</configuration>
