<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="listen_ip" value="127.0.0.1"/>
    <add key="listen_port" value="23128"/>
    <add key="xmpp_jid" value="example@gmail.com"/>
    <add key="xmpp_password" value="P@ssw0rd"/>
    <add key="fetchbot_jid" value="b4144bcd-5e56-4384-b02d-a64274020ddb@yoursunny-app.appspotchat.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
