@import url(yoursunny.css);
.p dt { margin:0 1em 0 0; float:left; padding-left:10px; background:transparent url(arrow_right.gif) no-repeat 0 50%; }
#fresh dt { font-weight:bold; }
.p dd { margin:0 0 0 1em; overflow:hidden; font-size:0.9em; }
.p a { text-decoration:none; }
.p a:hover { text-decoration:underline; }
.p h2 a { color:#000000; }
.p ul { margin:0; padding:0; list-style:none outside none; }
.p ul li { width:100%; padding-left:10px; background:transparent url(arrow_right.gif) no-repeat 0 50%; overflow:hidden; white-space:nowrap; }
