<?xml version="1.0" encoding="utf-8" ?>
<!-- 这是hProxyN作为代理服务器使用的样例配置文件 -->
<configuration>
  <configSections>
    <!-- sectionGroup标签定义了配置文件的结构，请勿修改 -->
    <sectionGroup name="hProxyN" type="yoursunny.P2008.hProxyN.hProxyNConfigurationSectionGroup,hProxyN">
      <section name="Listener" type="yoursunny.P2008.hProxyN.ListenerConfigurationSection,hProxyN"/>
      <section name="Logging" type="yoursunny.P2008.hProxyN.LoggingConfigurationSection,hProxyN"/>
      <section name="Plugins" type="yoursunny.P2008.hProxyN.PluginsConfigurationSection,hProxyN"/>
      <sectionGroup name="PluginConfiguration" type="yoursunny.P2008.hProxyN.PluginConfigurationSectionGroup,hProxyN">
        <section name="HttpProxy" type="yoursunny.P2008.hProxyN.HttpProxyConfigurationSection,HttpProxy"/>
        <!-- 此处每个section标签定义一个插件所需的配置信息结构，请根据插件的文档插入 -->
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <hProxyN>
    <Listener mode="console">
    <!--
    mode="console"
      在控制台(命令行窗口)运行
      启动方式
        bin\hProxyN.exe conf\proxy.config
    mode="service"
      作为Windows服务运行
      启动方式
        sc create hProxyN binPath= "D:\hProxyN\bin\hProxyN.exe D:\hProxyN\conf\proxy.config"
        在“管理工具-服务”中将hProxyN的启动帐号设为不是SYSTEM的一个管理员帐号，然后启动此服务
    -->
      <EndPoints>
        <listen IP="any" port="3128"/>
        <!-- 此处每个listen标签定义hProxyN核心监听的IP地址和端口号，例如
        <listen IP="202.120.2.30" port="8000"/>
        -->
      </EndPoints>
    </Listener>
    <Logging enabled="true">
    <!-- 如要关闭日志功能，请设置enabled="false" -->
      <Output path="STDOUT" utc="false"/>
      <!-- Output标签定义日志输出的位置
      path="STDOUT"
        输出到控制台(命令行窗口内)
      <Output path="..\log\" prefix="ex" pattern="yyMMdd" postfix=".log" utc="false"/>
        输出到配置文件所在目录的父目录的log子目录中，文件名为"ex"+2位年+2位月+2位日+".log"
      utc="false"
        用本地时间生成文件名中的日期
      utc="true"
        用国际标准时间(UTC时间)生成文件名中的日期
      -->
      <Format type="yoursunny.P2008.hProxyN.IISW3CLogFormat" encoding="utf-8"/>
      <!-- Format标签定义日志的格式
      type="yoursunny.P2008.hProxyN.IISW3CLogFormat"
        IISW3C格式，类似于Microsoft Internet Information Services的日志格式
      type="yoursunny.P2008.hProxyN.NCSACommonLogFormat"
        NCSA Common格式，类似于Apache HTTP Server的日志格式
      type="yoursunny.P2008.hProxyN.NCSACombinedLogFormat"
        NCSA Combined格式，类似于Apache HTTP Server的日志格式
      encoding="utf-8"
        日志文件的字符编码为utf-8
      -->
      <Fields>
        <field name="time"/>
        <field name="c-ip"/>
        <field name="cs-method"/>
        <field name="cs-host"/>
        <field name="cs-uri-stem"/>
        <field name="cs-uri-query"/>
        <field name="sc-status"/>
        <field name="time-taken"/>
        <!-- 此处每个field标签定义日志的一个字段
        IISW3C日志格式支持字段定义
        NCSA日志格式的字段是固定的，因此不需要写field标签
        -->
      </Fields>
    </Logging>
    <Plugins>
      <PluginCollection>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxy,HttpProxy"/>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxyWWWAuthenticate,HttpProxyWWWAuthenticate"/>
        <!-- 此处每个plugin标签使核心加载一个插件 -->
      </PluginCollection>
    </Plugins>
    <PluginConfiguration>
    <!-- PluginConfiguration标签内包含各个插件所需的配置信息 -->
      <HttpProxy Timeout="15000" addXForwardedFor="true" Decompress="false" DenyLocal="false">
      <!-- HttpProxy是HTTP代理插件的配置信息
      Timeout="15000"
        设置发出请求超时时间为15秒
      addXForwardedFor="true"
        在发出请求中添加X-Forwarded-For头，让远程服务器知道hProxyN为谁转发了请求
      addXForwardedFor="false"
        不要在发出请求中添加X-Forwarded-For头，不让远程服务器察觉代理服务器的存在
      Decompress="true"
        如果收到的响应以gzip或deflate编码，将它解码
        响应保存、广告植入等插件需要这个设置；否则请设置Decompress="false"
      DenyLocal="false"
        允许来自本机的请求
        如果要禁止来自本机的请求，请设置DenyLocal="true"
        如果允许来自本机的请求，访问 http://本机IP:代理端口/ 将导致代理访问自己、而形成死循环
      -->
        <EndPoints>
          <listen IP="any" port="3128"/>
          <!-- 此处每个listen标签定义HTTP代理插件服务的IP地址和端口号
          注意：必须先使核心监听这个端口，这里的设置才有效果
          -->
        </EndPoints>
      </HttpProxy>
    </PluginConfiguration>
  </hProxyN>
</configuration>