<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="hProxyN" type="yoursunny.P2008.hProxyN.hProxyNConfigurationSectionGroup,hProxyN">
      <section name="Listener" type="yoursunny.P2008.hProxyN.ListenerConfigurationSection,hProxyN"/>
      <section name="Logging" type="yoursunny.P2008.hProxyN.LoggingConfigurationSection,hProxyN"/>
      <section name="Plugins" type="yoursunny.P2008.hProxyN.PluginsConfigurationSection,hProxyN"/>
      <sectionGroup name="PluginConfiguration" type="yoursunny.P2008.hProxyN.PluginConfigurationSectionGroup,hProxyN">
        <section name="HttpProxy" type="yoursunny.P2008.hProxyN.HttpProxyConfigurationSection,HttpProxy"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <hProxyN>
    <Listener mode="console">
      <EndPoints>
        <listen IP="any" port="3128"/>
      </EndPoints>
    </Listener>
    <Logging enabled="true">
      <Output path="STDOUT" utc="false"/>
      <Format type="yoursunny.P2008.hProxyN.IISW3CLogFormat" encoding="utf-8"/>
      <Fields>
        <field name="time"/>
        <field name="c-ip"/>
        <field name="cs-method"/>
        <field name="cs-host"/>
        <field name="s-ip"/>
        <field name="cs-uri-stem"/>
        <field name="cs-uri-query"/>
        <field name="sc-status"/>
        <field name="time-taken"/>
      </Fields>
    </Logging>
    <Plugins>
      <PluginCollection>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxy,HttpProxy"/>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxyWWWAuthenticate,HttpProxyWWWAuthenticate"/>
        <plugin type="yoursunny.P2008.hProxyN.EditableGateway,InboundGateways"/>
      </PluginCollection>
    </Plugins>
    <PluginConfiguration>
      <HttpProxy Timeout="15000" addXForwardedFor="true" Decompress="false">
        <EndPoints>
          <listen IP="any" port="3128"/>
        </EndPoints>
        <InboundGateway type="yoursunny.P2008.hProxyN.EditableGateway,InboundGateways"/>
      </HttpProxy>
    </PluginConfiguration>
  </hProxyN>
</configuration>