<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="hProxyN" type="yoursunny.P2008.hProxyN.hProxyNConfigurationSectionGroup,hProxyN">
      <section name="Listener" type="yoursunny.P2008.hProxyN.ListenerConfigurationSection,hProxyN"/>
      <section name="Logging" type="yoursunny.P2008.hProxyN.LoggingConfigurationSection,hProxyN"/>
      <section name="Plugins" type="yoursunny.P2008.hProxyN.PluginsConfigurationSection,hProxyN"/>
      <sectionGroup name="PluginConfiguration" type="yoursunny.P2008.hProxyN.PluginConfigurationSectionGroup,hProxyN">
        <section name="HttpProxy" type="yoursunny.P2008.hProxyN.HttpProxyConfigurationSection,HttpProxy"/>
        <section name="HttpProxyAuthentication" type="yoursunny.P2008.hProxyN.HttpProxyAuthenticationConfigurationSection,HttpProxyAuthentication"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <hProxyN>
    <Listener mode="console">
      <EndPoints>
        <listen IP="any" port="3128"/>
      </EndPoints>
    </Listener>
    <Logging enabled="true">
      <Output path="STDOUT" utc="false"/>
      <Format type="yoursunny.P2008.hProxyN.IISW3CLogFormat" encoding="utf-8"/>
      <Fields>
        <field name="time"/>
        <field name="c-ip"/>
        <field name="cs-method"/>
        <field name="cs-host"/>
        <field name="cs-uri-stem"/>
        <field name="cs-uri-query"/>
        <field name="sc-status"/>
        <field name="time-taken"/>
      </Fields>
    </Logging>
    <Plugins>
      <PluginCollection>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxy,HttpProxy"/>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxyWWWAuthenticate,HttpProxyWWWAuthenticate"/>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxyAuthentication,HttpProxyAuthentication"/>
      </PluginCollection>
    </Plugins>
    <PluginConfiguration>
      <HttpProxy Timeout="15000" addXForwardedFor="true" Decompress="false">
        <EndPoints>
          <listen IP="any" port="3128"/>
        </EndPoints>
      </HttpProxy>
      <HttpProxyAuthentication scheme="Digest" realm="hProxyN gateway" privatekey="779481bd58ca5b87e70d44539f48603b25efcbce2c41c6b40aca0">
        <validator type="yoursunny.P2008.hProxyN.SqlCeAuthenticationCredentialsValidator,HttpProxyAuthentication">
          <param>
            <add name="datasource" value="SqlCeCredentials.sdf"/>
          </param>
        </validator>
        <manager enabled="true" type="yoursunny.P2008.hProxyN.SqlCeAuthenticationCredentialsManager,HttpProxyAuthentication" admin="sunny">
          <param>
            <add name="datasource" value="SqlCeCredentials.sdf"/>
          </param>
        </manager>
      </HttpProxyAuthentication>
    </PluginConfiguration>
  </hProxyN>
</configuration>