<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="hProxyN" type="yoursunny.P2008.hProxyN.hProxyNConfigurationSectionGroup,hProxyN">
      <section name="Listener" type="yoursunny.P2008.hProxyN.ListenerConfigurationSection,hProxyN"/>
      <section name="Logging" type="yoursunny.P2008.hProxyN.LoggingConfigurationSection,hProxyN"/>
      <section name="Plugins" type="yoursunny.P2008.hProxyN.PluginsConfigurationSection,hProxyN"/>
      <sectionGroup name="PluginConfiguration" type="yoursunny.P2008.hProxyN.PluginConfigurationSectionGroup,hProxyN">
        <section name="HttpProxy" type="yoursunny.P2008.hProxyN.HttpProxyConfigurationSection,HttpProxy"/>
        <section name="PerformanceCountersPublisher" type="yoursunny.P2008.hProxyN.PerformanceCountersPublisherConfigurationSection,PerformanceCountersPublisher"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <hProxyN>
    <Listener mode="service">
      <EndPoints>
        <listen IP="any" port="3128"/>
      </EndPoints>
    </Listener>
    <Logging enabled="false">
      <Output path="..\log\" prefix="log_" pattern="yyMMdd" postfix=".log" utc="false"/>
      <Format type="yoursunny.P2008.hProxyN.NCSACommonLogFormat" encoding="utf-8"/>
      <Fields/>
    </Logging>
    <Plugins>
      <PluginCollection>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxy,HttpProxy"/>
        <plugin type="yoursunny.P2008.hProxyN.HttpProxyWWWAuthenticate,HttpProxyWWWAuthenticate"/>
        <plugin type="yoursunny.P2008.hProxyN.PerformanceCountersPublisher,PerformanceCountersPublisher"/>
      </PluginCollection>
    </Plugins>
    <PluginConfiguration>
      <HttpProxy Timeout="15000" addXForwardedFor="true" Decompress="false">
        <EndPoints>
          <listen IP="any" port="3128"/>
        </EndPoints>
      </HttpProxy>
      <PerformanceCountersPublisher InstanceName="service"/>
    </PluginConfiguration>
  </hProxyN>
</configuration>