.google_docs table {
	font-size: 1em;
	line-height: inherit;
}

.google_docs div, .google_docs address, .google_docs ol, .google_docs ul, .google_docs li, .google_docs option, .google_docs select {
	margin-top: 0px;
	margin-bottom: 0px;
}

.google_docs p {
	margin: 0px;
}

.google_docs {
	font-family: Verdana, sans-serif;
	font-size: 10pt;
	background-color: #ffffff;
}

.google_docs h6 {
	font-size: 10pt
}

.google_docs h5 {
	font-size: 11pt
}

.google_docs h4 {
	font-size: 12pt
}

.google_docs h3 {
	font-size: 13pt
}

.google_docs h2 {
	font-size: 14pt
}

.google_docs h1 {
	font-size: 16pt
}

.google_docs blockquote {
	padding: 10px;
	border: 1px #DDD dashed
}

.google_docs a img {
	border: 0
}

.google_docs div.google_header, div.google_footer {
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
}
