@charset "utf-8";
/* legacy style for articles from version 2009 */

.a9p { line-height:1.5; }

.a9p ol li { list-style:decimal inside; padding-left:0; }
.a9p ul li { list-style:square inside; padding-left:0; }
.a9p ul ul li { list-style:disc; }
.a9p ul ul ul li { list-style-type:circle; }
.a9p ul ul ul ul li { list-style-type:square; }
.a9p ul ul li,.a9p ul ol li,.a9p ol ul li,.a9p ol ol li { margin-left:30px; }

.a9p p { margin:1ex 0; }
.a9p dd { margin-left:2em; }

.a9p .indent { text-indent:2em; }
.a9p .para { margin-bottom:1em; }
.a9p .f-clear { clear:both; }
.a9p .f-left { float:left; clear:left; }
.a9p .f-right { float:right; clear:right; }
.a9p img.border { border:solid 3px #cdcda9; margin:5px 10px; padding:1px; }
.a9p .center { text-align:center; }
.a9p h1 { font-size:130%; }
.a9p h2 { font-size:125%; }
.a9p h3 { font-size:120%; }
.a9p h4 { font-size:115%; }
.a9p h5 { font-size:110%; }
.a9p h1,.a9p h2,.a9p h3,.a9p h4,.a9p h5 { font-weight:bold; margin-top:10px; margin-bottom:5px; }

.a9p table { border-left:solid 1px #090; border-top:solid 1px #090; }
.a9p th,.a9p td { border-right:solid 1px #090; border-bottom:solid 1px #090; }